<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-full h-screen bg-neutral-950 text-white py-10 px-14">
        <h1 class="text-emerald-700 font-bold text-5xl mb-10">Login Account</h1>
        <form action="/login" method="post">
            <input class="px-3 py-2 bg-transparent outline-none border-2 border-neutral-700 rounded-md mb-5" type="email" placeholder="Enter Email" name="email"><br>
            <input class="px-3 py-2 bg-transparent outline-none border-2 border-neutral-700 rounded-md mb-5" type="password" placeholder="Enter Password" name="password"><br>
            <input class="px-3 py-2 bg-emerald-600 rounded-md" type="submit" value="Login Account">
        </form>
    </main>
</body>
</html>